body{
    background-color: var(--primary-background-color);
}
.main-prdct{
    padding: 0 1rem 0 1rem;
    background-color: var(--primary-background-color);

    h1{
        font-weight: 500;
        font-size: var(--font-size-subject);
        text-wrap-style: pretty;
    }
    p{
        text-wrap-style: pretty;

        span{
            font-weight: 600;
        }
    }

    .article-statistics-prdct{
        display: flex;
        align-items:center ;
        border: 1px solid var(--user-chat-background-color);
        border-radius: 10rem;
        background-color: var(--secondary-background-color);
        height: 3rem;
        width: fit-content;
        padding-right: 0.3rem;

        img{
            height: 3rem;
        }
    }

    .product-img-bici{
        width: 100%;
    }

    .product-shop-online{
        display: flex;
        justify-content:center ;
        align-items: center;
        background-color: var(--secondary-background-color);
        border-radius: 1.5rem 1.5rem 0 0;
    }
    li{
        background-color: var(--secondary-background-color);
        color: var(--user-chat-background-color);
        margin: .5rem 0 .5rem 0;
        height: 2.5rem;
        width: auto;
        list-style: none;
        text-decoration: none;
    }

    li:last-child{
            border-radius: 0 0 1.5rem 1.5rem;
        }

    ul{
        padding: 0;
    }

    .h2{
        font-size: var(--font-size-subject);
        font-weight: var(--font-weight-text);
        text-align: start;
    }
    iframe{
        width: 100%;
        height: 100%;
        border: 1px solid var(--secondary-background-color);
        border-radius: 1.5rem;
    }
    
}