body{
    background-color: var(--primary-background-color);
}

.contact-main{
    background-color: var(--primary-background-color);
}

form {
  margin-inline: 1.5em;
  
  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  .input-label-text-large {
    appearance: none;
    border-radius: 6px;
    border: 1px solid var(--secondary-text-color);
    color: var(--secondary-text-color);
    width: 100%;
    max-width: 50ch;
    height: 63px;
    font-family: "parkinsans", sans-serif;
    font-size: 1em;
    padding-left: 1em;
  }

  .label-textarea-large {
      appearance: none;
      border-radius: 6px;
      border: 1px solid var(--secondary-text-color);
      color: var(--secondary-text-color);
      font-family: "parkinsans", sans-serif;
      font-size: 1em;
      padding-left: 1em;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background-color);
    border: none;
    border-radius: 10px;
    margin-block-end: 1em;
    padding-block-start: 1em;

    legend {
      float: left;
      font-size: var(--font-size-subject);
      margin-block-end: 2em;
    }

    label {
      padding-inline-end: 1em;
      margin-block-end: 1em;
      display: flex;
      flex-direction: column;
    }

    input {
      margin-block-start: 0.5em;
      margin-block-end: 1em;
      max-width: 50ch;
      width: 100%;
      padding-left: 0;
      padding-inline-start: 10px;
    }

    textarea {
      margin-block-start: 0.5em;
      margin-block-end: 1em;
      max-width: 50ch;
      width: 100%;
      padding-left: 0;
      padding-inline-start: 10px;
    }

    input[type="submit"] {
      align-self: flex-end;
      width: fit-content;

      &:hover{
        border: 1px solid var(--secondary-text-color);
      }
    }
  }
}
